<div id="note-form-wrapper">
  <%= form_for @note do |f| %>
      <h2><%= h2 %></h2>
      <%= f.label "Title" %>
      <%= f.text_field :title %>
      <%= f.label "Tag" %>
      <%= f.text_field :taglist %>
      <%= f.label "Content" %>
      <%= f.text_area :content %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.submit "Submit" %>
  <% end %>
  <% content_for :map_javascript do %>
      <%= javascript_include_tag 'map/new_note' if @note.id.nil? %>
      <%= javascript_include_tag 'map/edit_note.js' unless @note.id.nil? %>
  <% end %>
</div>
