<div id="note-form-wrapper">
  <%= form_tag notes_path, remote: true do %>
      <h2><%= h2 %></h2>
      <%= label_tag "Title" %>
      <%= text_field_tag :title %>
      <%= label_tag "Tag" %>
      <%= text_field_tag :taglist %>
      <%= label_tag "Content" %>
      <%= text_area_tag :content %>
      <%= hidden_field_tag :latitude %>
      <%= hidden_field_tag :longitude %>
      <%= submit_tag "Submit" %>
  <% end %>
</div>