<div class="center">
  <div id="map"></div>
  <%= button_tag "11111", id:"test"%>
    <% if @notes %>
      <%= render @notes %>
    <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    var mymap = L.map('map').setView([29.9090876153,121.6371381786], 13);

    L.tileLayer('http://{s}.google.cn/vt/lyrs=m&x={x}&y={y}&z={z}', {
        attribution: 'MapNotes',
        maxZoom: 18,
        subdomains:['mt0','mt1','mt2','mt3']
    }).addTo(mymap);

    <% if @notes %>
      <% @notes.each do |note| %>
        var marker = L.marker([<%= note.latitude %>, <%= note.longitude %>]).addTo(mymap);
        var content = $("#note_" + <%= note.id %>).html();
        marker.bindPopup(content).openPopup();
      <% end %>
    <% end %>

    $('#test').click(function () {
        $.ajax({
            type:"GET",
            url:"/notes/1"
        })
    });

    $('')
</script>

