<div class="center">
  <div id="map"></div>
    <% if @notes %>
      <%= render @notes %>
    <% end %>
  <div class="hidden">
    <%= render 'notes/note_form', :h2 => "Create a Note" %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    var mymap = L.map('map').setView([29.9090876153,121.6371381786], 13);

    L.tileLayer('http://{s}.google.cn/vt/lyrs=m&x={x}&y={y}&z={z}', {
        attribution: 'MapNotes',
        maxZoom: 18,
        subdomains:['mt0','mt1','mt2','mt3']
    }).addTo(mymap);

    <% if @notes %>
      <% @notes.each do |note| %>
        var marker = L.marker([<%= note.latitude %>, <%= note.longitude %>]).addTo(mymap);
        var content = $("#note_" + <%= note.id %>).html();
        marker.bindPopup(content).openPopup();
      <% end %>
    <% end %>

    var marker = L.marker([29.9090876153,121.6371381786]).addTo(mymap);
    marker.bindPopup('<b>Click to create a new note</b>').openPopup();
   
    mymap.on('click', onMapClick);
    function onMapClick(e) {
        $('.leaflet-shadow-pane').children().eq(-1).remove();
        $('.leaflet-marker-pane').children().eq(-1).remove();
        $("input[id='latitude']").attr("value",e.latlng.lat);
        $("input[id='longitude']").attr("value",e.latlng.lng);
        var marker = new L.Marker(e.latlng);
        mymap.addLayer(marker);
        var form = $("#note-form-wrapper").html();
        marker.bindPopup(form).openPopup();
    }
</script>

